<!DOCTYPE html>
<html lang="en">
<head>
  <title>Archeo Control Panel</title>
</head>
<body>
<h1>Archeo Control Panel</h1>
This panel could look a lot nicer, right? Someone should CSS it.
<hr>
<table>
<tbody>
<tr>
  <td>
    <form action="dup-filenames" method="POST">
        <input type="submit" name="dupe-names" value="Files with same name">
    </form>
  </td>
  <td>
    Search for files with identical filenames, but different
    directories or hashes.
  </td>
</tr>
<tr>
  <td>
    <form action="dup-hashes" method="POST">
        <input type="submit" name="dupe-hashes" value="Files with same hash">
    </form>
  </td>
  <td>
    Search for files with identical content hashes (but different
    directories or filenames). Files with the same hash are almost
    surely identical, just differing in name and/or location.
  </td>
</tr>
</tbody>
</table>
<hr>
<p>
    <h1>Testing, testing, 1,2,3 ...</h1>
    Enter stuffs:
    <form action="." method="POST">
        <input type="text" name="foo">
        <input type="text" name="bar">
        <input type="submit" name="do-stuff" value="Ho-aa !">
    </form>
</body>
</html>

