<!DOCTYPE html>
<html lang="en">
<head>
  <title>Archeo Similar Directories</title>
</head>
<body>
<h1>Similar Directories</h1>
<p>
The file content hash {{ xxhash }} appears in the following locations,
with the given name and timestamp:
<p>
{{ dirtable }}
<p>
These directories may have other files in common. This is summarized
below, as a ratio: the number of files in common, divided by the total
number of files in that directory. This is also shown as a percentage.
<p>
{{ summarytable }}
<p>
The different directories may have the same file, but appearing under
a different name; or a matching file may be absent. This is shown in the
detailed directoroy difference below.
<p>
{{ difftable }}

<hr>
<a href="/">Return to the main control panel</a>
</body>
</html>
